@using SterlingCollection1.Models;
@model List<Album>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="list-background">
    <div class="container-fluid all-games">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="all-games-list">
                        <h1>Master Vinyl Album List</h1>
                        <p id="grid-btn">Grid View</p>
                            <div id="master-list">
                                @foreach (Album record in Model)
                                {
                                    int recordTag = @record.Id;
                                    <a href="@Url.Action("Album", "Album", new { recordTag = recordTag })">
                                        <h2 class="record-info">@record.AlbumName - @record.Artist</h2>
                                    </a>
                                }
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid grid-view">
        <div class="container">
            <div class="grid-box hidden-box">
                @foreach(Album record in Model)
                {
                    int recordTag = @record.Id;
                    <div class="overlay">
                        <a href="@Url.Action("Album", "Album", new { recordTag = recordTag })">
                            <img title="@record.AlbumName - @record.Artist" class="art-box" src="~/Content/Albums/@record.AlbumArt" />
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>

</div>

<script>
    $('#grid-btn').click(function () {
        $('#grid-btn').toggleClass('grid-btn-active');
        $('.grid-box').toggleClass('album-grid');
        $('#master-list').toggleClass('hidden-box');
    });
</script>