
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="category-jumbo">
    <h1>The Games of the Sterling Collection</h1>
    <p class="lead">The Sterling Collection contains hundreds of video games, both modern and vintage, for several different gaming consoles.</p>
    <p class="lead">Please select a gaming console from the options listed below to see which of its games belong to the Sterling Collection.</p>
</div>

<div class="row category-detail">
    <h2 class="category-head">Nintendo Home Consoles</h2>
    <div class="col-md-4">
        <a href="@Url.Action("VideoGames", "Game", new {consoleName = "NES"})">
            <img class="console-frame" src="~/Content/Consoles/NintendoEntertainmentSystem.jpg" />
        </a>
        <p class="console-name">Nintendo Entertainment System</p>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("VideoGames", "Game", new {consoleName = "SNES"})">
            <img class="console-frame" src="~/Content/Consoles/SuperNintendo.jpg" />
        </a>
        <p class="console-name">Super Nintendo Entertainment System</p>
</div>
    <div class="col-md-4">
        <a href="@Url.Action("VideoGames", "Game", new {consoleName = "N64"})">
            <img class="console-frame" src="~/Content/Consoles/Nintendo64.jpg" />
        </a>
        <p class="console-name">Nintendo 64</p>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("VideoGames", "Game", new {consoleName = "GameCube"})">
            <img class="console-frame" src="~/Content/Consoles/GameCube.jpg" />
        </a>
        <p class="console-name">Nintendo GameCube</p>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("VideoGames", "Game", new {consoleName = "Wii"})">
            <img class="console-frame" src="~/Content/Consoles/NintendoWii.jpg" />
        </a>
        <p class="console-name">Nintendo Wii</p>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("VideoGames", "Game", new {consoleName = "Wii U"})">
            <img class="console-frame" src="~/Content/Consoles/WiiU.jpg" />
        </a>
        <p class="console-name">Nintendo Wii U</p>
    </div>
</div>

<br />

<div class="row category-detail">
    <h2 class="category-head">Sega Consoles</h2>
    <div class="col-md-6">
        <a href="@Url.Action("VideoGames", "Game", new {consoleName = "Genesis"})">
            <img class="console-frame" src="~/Content/Consoles/SegaGenesis.jpg" />
        </a>
        <p class="console-name">Sega Genesis</p>
    </div>
    <div class="col-md-6">
        <a href="@Url.Action("VideoGames", "Game", new {consoleName = "Dreamcast"})">
            <img class="console-frame" src="~/Content/Consoles/SegaDreamcast.jpg" />
        </a>
        <p class="console-name">Sega Dreamcast</p>
    </div>
</div>

<br />

<div class="row category-detail">
    <h2 class="category-head">Sony PlayStation Consoles</h2>
    <div class="col-md-6">
        <a href="@Url.Action("VideoGames", "Game", new {consoleName = "PS1"})">
            <img class="console-frame" src="~/Content/Consoles/PlayStation.jpg" />
        </a>
        <p class="console-name">PlayStation</p>
    </div>
    <div class="col-md-6">
        <a href="@Url.Action("VideoGames", "Game", new {consoleName = "PS2"})">
            <img class="console-frame" src="~/Content/Consoles/PlayStation2.jpg" />
        </a>
        <p class="console-name">PlayStation 2</p>
    </div>
    <div class="col-md-6">
        <a href="@Url.Action("VideoGames", "Game", new {consoleName = "PS3"})">
            <img class="console-frame" src="~/Content/Consoles/PlayStation3.jpg" />
        </a>
        <p class="console-name">PlayStation 3</p>
    </div>
    <div class="col-md-6">
        <a href="@Url.Action("VideoGames", "Game", new {consoleName = "PS4"})">
            <img class="console-frame" src="~/Content/Consoles/PlayStation4.jpg" />
        </a>
        <p class="console-name">PlayStation 4</p>
    </div>
</div>

<br />

<div class="row category-detail">
    <h2 class="category-head">Microsoft Xbox Consoles</h2>
    <div class="col-md-4">
        <a href="@Url.Action("VideoGames", "Game", new {consoleName = "Xbox"})">
            <img class="console-frame" src="~/Content/Consoles/Xbox.jpg" />
        </a>
        <p class="console-name">Microsoft Xbox</p>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("VideoGames", "Game", new {consoleName = "360"})">
            <img class="console-frame" src="~/Content/Consoles/Xbox360.jpg" />
        </a>
        <p class="console-name">Xbox 360</p>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("VideoGames", "Game", new {consoleName = "XBOne"})">
            <img class="console-frame" src="~/Content/Consoles/XboxOne.jpg" />
        </a>
        <p class="console-name">Xbox One</p>
    </div>
</div>

<br />

<div class="row category-detail">
    <h2 class="category-head">Handheld Consoles</h2>
    <div class="col-md-4">
        <a href="@Url.Action("VideoGames", "Game", new {consoleName = "GameBoy"})">
            <img class="console-frame" src="~/Content/Consoles/GameBoy.jpg" />
        </a>
        <p class="console-name">Nintendo GameBoy</p>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("VideoGames", "Game", new {consoleName = "GBA"})">
            <img class="console-frame" src="~/Content/Consoles/GameBoyAdvance.jpg" />
        </a>
        <p class="console-name">Nintendo GameBoy Advance</p>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("VideoGames", "Game", new {consoleName = "DS"})">
            <img class="console-frame" src="~/Content/Consoles/NintendoDS.jpg" />
        </a>
        <p class="console-name">Nintendo DS</p>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("VideoGames", "Game", new {consoleName = "3DS"})">
            <img class="console-frame" src="~/Content/Consoles/Nintendo3DS.jpg" />
        </a>
        <p class="console-name">Nintendo 3DS</p>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("VideoGames", "Game", new {consoleName = "Vita"})">
            <img class="console-frame" src="~/Content/Consoles/PlayStationVita.jpg" />
        </a>
        <p class="console-name">PlayStation Vita</p>
    </div>
</div>